@keyframes firework {
    0% { 
      transform: translate(-50%, 60vh);
      width: .8vmin;
      opacity: 1;
    }
    50% { 
      width: .8vmin;
      opacity: 1;
    }
    100% { 
      width: 45vmin; 
      opacity: 0; 
    }
}

.firework {
    display: none;
    margin: 0;
    position: absolute;
    bottom: 10vh;
    z-index: -1;
}
  
#firework1,
#firework1::before,
#firework1::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, orange 0.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, purple 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, orange 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, purple 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, orange 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, purple 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, purple 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 13% 24%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 50% 25%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 15% 20%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 50% 30%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 5% 25%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 10% 24%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 50% 83%;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 1.8s infinite;
}

#firework1::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework1::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}

#firework2,
#firework2::before,
#firework2::after {
  content: "";
  position: absolute;
  top: 49%;
  left: 12%;
  transform: translate(-50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, white .2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, white .3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, white .5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, aqua 8.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, aqua 8.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, aqua 8.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, aqua 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, red 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, red 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, red 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, red 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, white 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}

#firework2::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework2::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
#firework3,
#firework3::before,
#firework3::after {
  content: "";
  position: absolute;
  top: 53%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, orange.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, orange.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, orange.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ffff58.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ffff58.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #ffff58.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, goldenrod 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, goldenrod 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, goldenrod 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2.2s infinite;
}

#firework3::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework3::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
#firework4,
#firework4::before,
#firework4::after {
  content: "";
  position: absolute;
  top: 56%;
  left: 7%;
  transform: translate(-50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, navy.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, navy.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, navy.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, aqua 8.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, navy 8.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, navy 8.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, aqua 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, aqua 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, aqua 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, blue 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, blue 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, blue 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2.4s infinite;
}

#firework4::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework4::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
#firework5,
#firework5::before,
#firework5::after {
  content: "";
  position: absolute;
  top: 59%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, red 0.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, red 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, red 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, red 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, red 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, red 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2.6s infinite;
}

#firework5::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework5::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
#firework6,
#firework6::before,
#firework6::after {
  content: "";
  position: absolute;
  top: 63%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, yellow.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, yellow.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, yellow.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, yellow.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, yellow.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, yellow.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, yellow 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, yellow 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, yellow 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, yellow 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2.8s infinite;
}
#firework6::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework6::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
#firework7,
#firework7::before,
#firework7::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15%;
  transform: translate(50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, orange 0.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, purple 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, orange 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, purple 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, orange 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, purple 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, purple 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 13% 24%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 50% 25%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 15% 20%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 50% 30%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 5% 25%,
    radial-gradient(circle, purple 0.5vmin, #0000 0) 10% 24%,
    radial-gradient(circle, orange 0.3vmin, #0000 0) 50% 83%;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 1.8s infinite;
}

#firework7::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework7::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}

#firework8,
#firework8::before,
#firework8::after {
  content: "";
  position: absolute;
  top: 49%;
  right: 12%;
  transform: translate(50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, white .2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, white .3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, white .5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, aqua 8.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, aqua 8.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, aqua 8.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, aqua 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, red 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, red 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, red 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, red 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, white 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}

#firework8::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework8::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
#firework9,
#firework9::before,
#firework9::after {
  content: "";
  position: absolute;
  top: 53%;
  right: 10%;
  transform: translate(50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, orange.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, orange.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, orange.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ffff58.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ffff58.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #ffff58.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, goldenrod 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, goldenrod 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, goldenrod 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2.2s infinite;
}

#firework9::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework9::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
#firework10,
#firework10::before,
#firework10::after {
  content: "";
  position: absolute;
  top: 56%;
  right: 7%;
  transform: translate(50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, navy.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, navy.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, navy.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, aqua 8.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, navy 8.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, navy 8.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, aqua 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, aqua 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, aqua 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, blue 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, blue 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, blue 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2.4s infinite;
}

#firework10::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework10::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
#firework11,
#firework11::before,
#firework11::after {
  content: "";
  position: absolute;
  top: 59%;
  right: 5%;
  transform: translate(50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, red 0.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, red 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, red 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, red 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, red 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, red 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2.6s infinite;
}

#firework11::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework11::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
#firework12,
#firework12::before,
#firework12::after {
  content: "";
  position: absolute;
  top: 63%;
  right: 3%;
  transform: translate(50%, -50%);
  width: 0.3vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, yellow.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, yellow.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, yellow.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, yellow.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, yellow.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, yellow.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, yellow 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, yellow 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, yellow 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, yellow 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.7vmin 0.7vmin;
  background-repeat: no-repeat;
  animation: firework 2.8s infinite;
}
#firework12::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

#firework12::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
@media (max-width: 450px) {
  .firework {
    top: 140vh !important;
  }
}
@media (max-height: 450px) and (orientation: landscape) {
  .firework {
    top: 140vh !important;
  }
}