#options {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    margin-top: 50px;
}
.optionBox {
    padding: 0 !important;
    border: none;
    border-radius: 2px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background: hsl(0, 0%, 80%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px !important;
    height: 60px !important;
}
.optionBox[aria-disabled=true] {
    cursor: default;
    pointer-events: none;
}
.optionBox:hover {
    cursor: pointer;
}
.optionBox:hover .optionText{
    font-size: 2.6rem;
}
.optionInside {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateZ(30px);
    background: var(--primary);
    width: 115%;
    height: 102%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.optionInside:hover, .optionText:hover {
    cursor: pointer;
}
.optionText {
    padding: 0;
    transform: translateZ(50px);
    background: none;
    color: var(--secondary);
    font-size: 2.4rem;
    text-decoration: none;
    border: none;
    transition: .2s;
}

@media (max-width: 450px) {
    #options {
        flex-direction: column;
        align-items: center;
        height: 70%;
    }
    .optionBox {
        height: 75px !important;
        width: 180px !important;
    }
    .optionText {
        font-size: 2.5rem;
    }
}