:root {
  --base: linear-gradient(to top, #0b0072, #7303c0);
  --primary: #ffb62e;
  --secondary: #4d2600;

  --result-primary: hsl(39, 100%, 50%);
  --result-secondary: hsl(39, 100%, 30%);
  --result-tertiary: hsl(39, 100%, 35%);
  --result-quaternary: hsl(39, 100%, 40%);
  --result-quinary: hsl(39, 100%, 45%);
}
@font-face {
  font-family: pacifico;
  src: url(/public/Sdballoondemo-RpOZl.ttf);
}
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: pacifico;
  height: 100vh;
  background: var(--base);
}
button {
  font-family: pacifico;
}
a {
  text-decoration: none;
}

.title:hover + #cursor {
  width: 50px;
  z-index: 3;
  visibility: visible;
}
#cursor {
  position: fixed;
  width: 0px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(180, 200, 0);
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: linear .07s;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cursor::after {
  content: '';
  position: absolute;
  width: 120%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: solid rgb(180, 200, 0);
  mix-blend-mode: difference;
}
#cursor::before {
  content: '';
  position: absolute;
  width: 150%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: solid rgb(180, 200, 0);
  mix-blend-mode: difference;
}

@media (max-width: 450px) and (orientation: portrait) {
  body {
      height: 100%;
      overflow-y: scroll !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

@media (max-height: 450px) and (orientation: landscape) {
  body {
    height: 100%;
    overflow-y: scroll !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}